body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4,h6{
  margin:5px;
}
button{
  font-size: 26px;
  width:200px;
  margin:10px;
  padding:8px;
  border-radius: 8px;
  border: none;
  background-color: lightblue;
  color:navy;
  cursor: pointer;
}
button:active{
  transform: scale(0.93);
}
button:hover{
  color: lightblue;
  background-color: navy;
}
.icon, .icon:hover{
  background-color: transparent;
  width: auto;
  height: auto;
  color: white;
  margin:0;
  padding:0;
  padding-bottom: 25px;
}
.App {
  text-align: center;
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  position: absolute;
  width: 100%;
  margin-top: -60px;
  z-index: -1;
}
.App-header {
  background-color: #064273;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.loader{
  margin: 0 auto;
  width:96px;
}

.App-map {
  margin-top: 60px;
  height: 100%;
  width: 100%;
}
.gmnoprint{
  display:none;
}
.wave{
  margin-top:-2.5rem;
  width:100%;
  height:12rem;
  display:block;
  position:absolute;
  bottom:0;
}
.card{
  background-color:white;
  border-radius: 7px;
  padding:16px;
  margin-bottom: 25px;
  height: 260px;
  color:#064273;
  text-align: center;
}
.place_title{
  text-transform: capitalize;
}
.status{
  color:white;
  padding: 5px;
  width:auto;
  text-align: center;
}
.selector{
  text-align: left;
  width: 400px;
  max-width: 93vw;
}
button.map{
  background-color: unset;
  text-decoration: underline;
  font-size: medium;
  color: #064273!important;
  margin: 0px;
  padding: 5px;
}
button.map:hover{
  color:#064273!important;
  text-decoration: underline;
}
.footer{
  background-color: #001a33;
  color:white;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  opacity:0.96;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
}
.footer a{
  color:white;
}
button.consent{
  font-size: 12px;
  width:50px;
  background-color: white;
}
button.consent:hover{
  color:green
}
.reconsent{
  position:fixed;
  bottom:0px;
  left: 50%;
  transform: translateX(-50%);
}

button.reconsent:active{
  transform: translateX(-50%);
}
button.reconsent:hover{
  color:unset;
  color:#ddd;
  text-decoration: underline;
}

@media screen and (max-width:767px) {
  button.consent{
    display:block;
    margin:0 auto;
    margin-top: 8px;
  }
}

nav{
  background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%);
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 3);
  z-index: 10;
  justify-content: flex-start;
}
.navLink{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.logo{
  font-size: 1.618rem;
}
.navMenu {
  display: flex;
  align-items: center;
  margin-right: -24px;
  width: 100vw;
  white-space: nowrap;
}

.navRight{
  display: flex;
  align-items: center;
  margin-right: 24px;
  justify-content: flex-end;
  width: 100vw;
}

.openMenu{
  background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%);
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  z-index: 1;
  top:0;
}
.openMenu a{
  color:white;
}
.hamburger-react{
  z-index:9999;
  color:#fff
}

.markdown{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: aliceblue;
  color:#03243f;
}
.markdown a, markdown a:visited{
  color:#064273;
  font-weight: bold;
}
.markdown ul, .markdown hr{
  display:none;
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h6{
  margin: revert
}
